* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

img {
  width: 100%;
  height: auto;
}

a {
  color: #767676;
}

a:active,
a:hover {
  color: blue;
}

header {
  padding: 11px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  overflow: hidden;
}
.navbar {
  display: flex;
  gap: 16px;
  align-items: center;
}

.logo {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 20px;
  background-color: #eee;
  border: 1px solid #0000;
  border-radius: 24px;
  height: 40px;
  width: 100%;
}

form,
input {
  border: 0;
  outline: 0;
  background-color: transparent;
  width: 100%;
}

.icon {
  width: 15px;
  height: 15px;
}

.nav-list {
  display: flex;
  gap: 16px;
  align-items: center;
  list-style: none;
  padding: 20px;
}

.vertical-line {
  display: block;
  border-left: 1px solid #767676;
  height: 24px;
}

.nav-right-section {
  display: flex;
  gap: 16px;
  align-items: center;
}

.nav-right-section > img {
  width: 24px;
  height: 24px;
}

.submit-photo-btn {
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  text-align: center;
  width: 150px;
  font-size: 14px;
  background-color: #fff;
  padding: 11px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submit-photo-btn:hover {
  background-color: #f5f5f5;
}

.burger-logo {
  cursor: pointer;
  transition: all 0.3s ease;
}

.burger-logo:hover {
  transform: scale(1.3);
}

.burger {
  display: none;
}

.filters {
  margin-top: 8px;
  display: flex;
  gap: 16px;
  align-items: center;
  list-style: none;
  height: 56px;
  position: relative;
}

.right-logo-container {
  padding: 8px;
  position: absolute;
  right: -20px;
  width: 35px;
  height: inherit;
  color: #000;
  background-color: #fff;
  display: flex;
  align-items: start;
  justify-content: center;
}

.right-logo-container > img {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.right-logo-container > img:hover {
  transform: scale(1.5);
}

.filters li {
  min-width: fit-content;
  height: 100%;
  display: inline-block;
  display: flex;
  align-items: center;
  padding-top: 8px;
}

.filters li:nth-child(3) {
  padding-top: 0px;
}

.filters > li > .vertical-line {
  align-self: flex-start;
  height: 36px;
}

.filters li a {
  display: flex;
  align-items: start;
  width: inherit;
  font-size: 14px;
  height: 100%;
}

.filters li a:active,
.filters li a:hover {
  color: #000;
  border-bottom: 3px solid #000;
}

.featured {
  position: relative;
}

.featured > span {
  position: absolute;
  top: -12px;
  font-size: 10px;
}

.hero-section {
  height: 600px;
  width: 100%;
  background-image: url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: relative;
}

.hero-section > div {
  display: flex;
  flex-direction: column;
  gap: 11px;
  width: 100%;
  max-width: 600px;
  padding: 0px 20px;
}

.hero-section > div > h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
}

.hero-section > div .search {
  background-color: #fff;
  border-radius: 4px;
}

.hero-section > div > p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

.hero-footer {
  display: block;
  position: absolute;
  bottom: 5px;
  width: 100%;
  font-size: 13px;
  color: #ffffff8c;
}

.hero-footer > span {
  text-align: center;
}

.hero-footer a {
  color: #fffc;
}

main {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.photo-gallery {
  max-width: 1200px;
  padding: 20px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 16px;
}

.col {
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .nav-right-section {
    display: flex;
  }

  .filters {
    margin-top: 20px;
  }

  .vertical-line {
    display: none;
  }

  .filters > li > .vertical-line {
    display: block;
  }

  .nav-list {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navbar > img {
    width: 24px;
    height: 24px;
  }

  .nav-right-section {
    display: none;
  }

  .search {
    padding: 16px;
  }

  .nav-list {
    display: none;
  }

  .burger {
    display: block;
  }

  .hero-section {
    height: 350px;
  }

  .vertical-line {
    display: none;
  }

  .filters > li > .vertical-line {
    display: block;
  }

  .hero-section > div > h1 {
    font-size: 24px;
  }

  .hero-section > div > p {
    font-size: 15px;
  }

  .hero-footer {
    font-size: 11px;
  }

  .photo-gallery {
    max-width: 100%;
    padding: 0px;
  }

  .row {
    flex-direction: column;
  }

  .col {
    width: 100%;
  }
}
